In [1]:
import pandas as pd
from io import StringIO
csv_data = '''A,B,C,D
 1.0,2.0,3.0,4.0
 5.0,6.0,,8.0
 0.0,11.0,12.0,'''

In [2]:
df = pd.read_csv(StringIO(csv_data))
df

     A     B     C    D
0  1.0   2.0   3.0  4.0
1  5.0   6.0   NaN  8.0
2  0.0  11.0  12.0  NaN

In [3]:
#Return the number of missing values per column
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [4]:
#Remove rows with missing values
df.dropna()

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [5]:
#Drop columns that have at least one NaN in any row
df.dropna(axis=1)

     A     B
0  1.0   2.0
1  5.0   6.0
2  0.0  11.0

In [6]:
#Only drop rows where all columns are NaN
df.dropna(how='all')

     A     B     C    D
0  1.0   2.0   3.0  4.0
1  5.0   6.0   NaN  8.0
2  0.0  11.0  12.0  NaN

In [7]:
#Only drop rows where NaN appear in specific columns
df.dropna(subset=['C'])

     A     B     C    D
0  1.0   2.0   3.0  4.0
2  0.0  11.0  12.0  NaN

In [8]:
from sklearn.preprocessing import Imputer

imr = Imputer(missing_values='NaN', strategy='mean', axis=0)
imr = imr.fit(df)
imputed_data = imr.transform(df.values)
imputed_data

array([[  1. ,   2. ,   3. ,   4. ],
       [  5. ,   6. ,   7.5,   8. ],
       [  0. ,  11. ,  12. ,   6. ]])